<style type="text/css">
    .legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255, 0.9);
    line-height: 18px;
    border-radius: 5px;
    color: #555;
}

.legend i {
    color: #777;
    width: 25px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
</style>


<div ui-view>
    <div class="page-header">
        <h3>Welcome to traffic-monitor<span type="button" style="margin-left:10px" class="btn btn-primary" ng-click="updateMap()">Get Updates</span></h3>
        <form class="form-inline">
          <div class="form-group">
            <label for="lat">Mock Latitude:</label>
            <input type="text" class="form-control" id="lng" ng-model="lat">
          </div>
          <div class="form-group">
            <label for="lng">Mock Longitude:</label>
            <input type="text" class="form-control" id="lng" ng-model="lng">
          </div>
          
          <button type="submit" class="btn btn-default" ng-click="sendMockLocation(lat, lng)">Send Mock location</button>
        </form>

      
        
    </div>
    <div class="row">
        <div class="col-md-8">
            <leaflet lf-center="center" geojson="geojson" legend="legend" height="420px" width="1300px"></leaflet>
        </div>
        <!-- <div class="col-md-4">
            <div class="panel panel-default panel-primary">
                <div class="panel-body">
                    Logs
                </div>
                <div class="panel-footer"></div>
            </div>
        </div> -->
    </div>
</div>
